---
---

$blue: #1eaedb;
$active-blue: #0fa0ce;

@font-face {
    font-family: "BebasNeueRegular";
    src: url("../fonts/BebasNeue-webfont.woff") format('woff');
}

a {
  text-decoration: none;
  
  &:active, &:visited, &:link {
    color: $blue;
  }
  
  &:hover {
    color: $active-blue;
  }
}

body {
  background-color: #000000;
  color: #ddd;
}

.banner {
  padding: 40px 40px 30px 40px;
}

.badges {
  text-align: center;
  padding: 10px;
}

@media (min-width: 750px) {
  .badges {
    padding: 40px;
  }
}

.caption {
  text-align: center;
  font-family: "BebasNeueRegular", sans-serif;
  & > h5 {
    margin-bottom: 0px;
  }
}

@media (max-width: 750px) {
  // Hide on smaller screens since we run out of space.
  .caption {
    display: none;
  }
}

.trailer {
  padding: 10px 0px 10px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.testimonials {
  text-align: center;
  padding: 40px 0px 0px 0px;
}

.testimonial-source {
  color: $blue;
}

.screenshots {
  padding: 10px 0px;
  
  img {
    padding: 10px;
  }
}

.links {
  text-align: center;
  font-family: "BebasNeueRegular", sans-serif;
  padding: 20px 0px 0px 0px;
}

.social-media {
  a:not(:last-child) {
    padding-right: 25px;
  }
  
  margin-bottom: 0px;
}

.footer-contents,
.footer-logos,
.footer-bottom {
  text-align: center;
}

.footer-logos {
  img {
    max-height: 40px;
  }
}

// Display only on lg+ screens.
.show-lg-up {
  display: none;
}
@media (min-width: 1000px) {
  .show-lg-up {
    display: unset;
  }
}

.pad-bot-sm {
  padding: 5px;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

// Prevent horizontal collapsing of empty columns.
.empty-column {
  min-height: 1px;
}