<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.3.0/lity.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="main-content">
      {{ content }}
    </section>
    
    <footer>
      <div class="container">
        <div class="row footer-logos">
          <div class="four columns">
            <a href="http://www.lunarpixelgames.com" target="_blank"><img class="u-max-full-width" src="assets/images/logo_lunarpixelgames.png"></a>
          </div>
          <div class="four columns empty-column"></div>
          <div class="four columns">
            <a href="http://digitaluzu.com" target="_blank"><img class="u-max-full-width" src="assets/images/logo_digitaluzu.png"></a>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns footer-contents">
            <span class="footer-bottom">
              <h4 class="social-media">
                <a href="https://www.facebook.com/pages/BEAT-DRIFT/517554635019368" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="http://twitter.com/BEATDRIFT" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCPOjWZSzBDcszl-1AxNB6iw" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </h4>
              <i class="fa fa-envelope-o email-icon" aria-hidden="true"></i>
              <a href="" class="contact-email contact-email-text"></a><br>
              Copyright &copy; 2013 - <span class="copyright-year"></span>
            </span>
          </div>
        </div>
      </div>
    </footer>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    
    <script type="text/javascript">
    $(document).ready(function() {
      // Email address obfuscation:
      var e = 'lunarpixelgames';
      var t = 'gmail';
      var n = '.com';
      var q = e + '@' + t + n;
      var r = 'mailto:' + q;

      // Set mailto links:
      $('.contact-email').each(function() {
        $(this).attr('href', r);
      });
      // Set email display text:
      $('.contact-email-text').each(function() {
        $(this).text(q);
      });
      // Set the copyright year:
      $('.copyright-year').each(function() {
        $(this).text((new Date()).getFullYear());
      });
    });
    </script>
  </body>
</html>